# SPDX-FileCopyrightText: 2023 Steffen Vogel <post@steffenvogel.de>
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=FortiNet Web Connect Interface
After=network.target

[Service]
WorkingDirectory=/home/ortg/fortinet-web-connect
ExecStart=python3 app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target